<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
<h2><b>Full Name:</b> Sage Bushstone</h2>
<h1><b>Student ID:</b> bushstse</h1>
<p><b>Bio:</b> I am a fourth year student at the University of Cincinnati. I am concurrently
pursuing my undergraduate and graduate degrees in Information Technology with the tracks software development
and data technologies.</p>
<p><b>Email:</b> <a href="mailto:bushstse@mail.uc.edu">bushstse@mail.uc.edu</a></p>
<p><b>Github:</b> <a href="https://github.com/sagebushstone">sagebushstone</a></p>
</body>
</html>